
/* global */
* {
    padding: 0;

}

body {
    background-color: #4a4e69;
    justify-content: center;
}

    /* links */
a {
    color:  #4a4e69;
}

a:hover {
    color: #22223B;
}

    /* transform */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

.slide {
    transition: all .5s ease;
}

.slide:hover {
    transform: translateY(25px);
    border: #22223B;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    /* margin-bottom: 50px; */
}

.profile-picture img {
    position: absolute;
    overflow: hidden;
    border: 5px solid #4a4e69;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    z-index: 1;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -30%);
}

/* grid item */

.container {
    position: absolute;
    border: #22223B;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    place-items: center;
    justify-content: center;
    align-content: center;
    /* position: absolute; */
    top: 100px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 20px;
    gap: 10px;
}

.icon {
    width: 56px;
    height: 56px;
}

#glasses {
    width: 64px;
    height: 64px;
}

.icon img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #22223B;
}

/* grid ordering */
.icon:nth-of-type(1) {
    grid-column: 4;
    grid-row: 4;
}

/* footer */
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2E9E4;
    border-radius: 7px 7px 0 0;
}

ul {
    list-style-type: none;
    margin-right: 20px;
    display: inline;
}

li {
    float: right;
    margin: .5rem;
}

li:nth-child(odd) {
    margin-right: 1rem;
}
