
/* global */
* {
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #4a4e69;
    margin: 0%;
    color: #F2E9E4;
}

.scroll {
    scroll-margin-block-start: 50px;
    scroll-padding-block-end: 50px;
}

.container {
    width: 100%;
    height: 80vh;
}

/* links */
a {
    color:  #4a4e69;
    text-decoration: none;
}

a:hover {
    color: #22223B;
}

/* transform */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

.hidden {
    /* visibility: hidden; */
    transition: all .2s ease-in-out;
}

.hidden:hover {
    visibility: visible;
    transform: translateY(-30px);
}

.slide {
    transition: all .5s ease;
}

.slide:hover {
    transform: translateY(-15px);
}

.slidesmall {
    transition: all .5s ease;
}

.slidesmall:hover {
    transform: translateY(5px);
}


/* header */
.title {
    margin-bottom: 20vh;
}

/* nav */
.profile-picture img {
    border-radius: 50%;
    width: 128px;
    z-index: 2;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    border-radius: 0 0 7px 7px;
    background-color: #F2E9E4;
    z-index: 1;
}

.nav ul {
    list-style-type: none;
    display: inline;
    margin-left: 75px;
}

.nav li {
    float: left;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}


/* intro */
#intro {
    padding-top: 20vh;
    margin: 20px;
}

/* grid item */

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    place-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px;
    gap: 10px;
}

.icon {
    position: relative;
    width: 56px;
    height: 56px;
}

#glasses {
    width: 64px;
    height: 64px;
}

.icon img {
    border-radius: 40%;
    width: 100%;
    height: 100%;
}

.icon p {
    text-anchor: middle;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

/* grid ordering */
.icon:nth-of-type(1) {
    grid-column: 6;
    grid-row: 6;
}

/* footer */
.footer {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #F2E9E4;
    border-radius: 7px 7px 0 0;
}

.footer ul {
    list-style-type: none;
    margin-right: 20px;
    display: inline;
}

.footer li {
    float: right;
    margin: .5rem;
}

.footer li:nth-child(odd) {
    margin-right: 1rem;
}
